<div class="container">

<% if @result %>
  <% if @exist %>
    <%= "Congratulation, #{@word.upcase} is a valid English word! Your score : #{@score} " %>
  <% else %>
    <%= "Sorry but #{@word} does not seem to be a valid English word..."  %>
  <% end %>
<% else %>
  <%= "Sorry but #{@word} can't be built out of #{@letters.join(", ")}" %>
<% end %>
<br>
<%= link_to "Play again", new_path, class: "link_play_again" %>
</div>
